body {
    height: 100%;
    background-color: #02024c;
}

.navbar {
    background-color: #10053d !important;
    z-index: 1;
}

.navbar-brand {
    color: #fff;
    padding-left: 20px;
}

#play-again {
    margin-left: -50px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: yellow;
}

#jumbotron {
    height: 550px;
    width: 100%;
    background-color: #02024c;
}

.sticker {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.start-button-wrapper {
    display: flex;
    justify-content: center;
}

.rules-wrapper {
    background-image: url(/assets/images/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    position: relative;
    place-items: center;
    height: 700px;
    margin-top: -80px;
}

.rules {
    position: relative;
    width: 90%;
    height: 75%;
    border: 5px solid gold;
    z-index: 2;
    background-color: black;
    margin-top: 30px;
}

.rules-header,
.rules-text {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.rules-text {
    font-size: 17px;
}

.start-game1 {
    display: flex;
    justify-content: center;
}

.start-button1 {
    margin-top: -60px;
    color: #fff;
    background-color: #000;
    position: absolute;
    width: 90px;
    height: 40px;
}

/* Game Area */

.background-image1 {
    background-image: url(/assets/images/background-image.png);
    height: 200px;
    object-fit: contain;
    width: 100%;
    position: reltive;
    z-index: -1;
}

/* Answer Section */

#question-answer {
    background-color: black;
    height: 450px;
    border-top: grey solid 3px;
    color: #fff;
    font-size: 27px;
}

.question-box {
    width: 200px;
    height: 50px;
    background: transparent;
    border-radius: 140px / 50px;
    border: silver solid 3px;
    color: #fff;
    justify-content: center;
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
}

/*.answer-wrapper {
  background-color: #000;
  display: grid;
  grid-template-columns: 70px 70px;
  grid-row: auto auto;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  width: 280px;
  padding-top: 30px;
}

.answer-option {
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
  width: 120px;
  height: 90px;

} */

.answer-wrapper {
    background-color: #000;
    grid-template-columns: 70px 70px;
    grid-gap: 10px 20px;
    width: 280px;
    padding-top: 30px;
    justify-content: center;
}

.answer-option {
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
    width: 120px;
    height: 90px;
}

.answer-option:hover {
    background-color: gold;
}

.options {
    display: flex;
    justify-content: center;
}

.score-display {
    position: relative;
    z-index: 50;
    background-color: green;
    color: #000;
    height: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.no-score-display {
    position: relative;
    z-index: 50;
    background-color: red;
    height: 40px;
    color: #000;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#show-score {
    color: #fff;
    width: 100%;
    background-color: #10053d;
    height: 30px;
    padding-left: 20px;
}

.lives-tracker {
    padding-right: 20px;
    margin-top: -36px;
    height: 30px;
    position: absolute;
    right: 0;
}

.end-game-lose {
    background-image: url(/assets/images/end-game-image.png);
    background-repeat: no-repeat;
    background-size: 100% 200px;
    display: flex;
    justify-content: center;
}

.end-game-win {
    background-image: url(/assets/images/end-game-image.png);
    background-repeat: no-repeat;
    background-size: 100% 200px;
    display: flex;
    justify-content: center;
}

$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

body {
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
    background-color: $baby-blue;
}

.start-button {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    margin-top: 350px;
    background-color: #000;
    padding: 1em 2em;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    color: $button-text-color;
    border-radius: 4px;
    border: solid grey 1px;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

    &:focus {
        outline: 0;
    }

    &:before,
    &:after {
        position: absolute;
        content: "";
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
    }

    &:before {
        display: none;
        top: -75%;
        background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
            15% 15%, 10% 10%, 18% 18%;
        //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }

    &:after {
        display: none;
        bottom: -75%;
        background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%),
            radial-gradient(circle, $button-bg 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
            20% 20%;
        //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    &:active {
        transform: scale(0.9);
        background-color: darken($button-bg, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }

    &.animate {
        &:before {
            display: block;
            animation: topBubbles ease-in-out 0.75s forwards;
        }

        &:after {
            display: block;
            animation: bottomBubbles ease-in-out 0.75s forwards;
        }
    }
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* Media Queries */

@media only screen and (min-width: 550px) {
    .sticker {
        width: 400px;
        height: 400px;
    }

    .start-button {
        margin-top: 440px;
    }
}

@media only screen and (min-width: 630px) {
    .lives-tracker {
        padding-right: 20px;
        margin-top: -42px;
        height: 30px;
        position: absolute;
        right: 0;
    }

    #play-again {
        margin-left: -400px;
    }
}

@media only screen and (min-width: 878px) {
    .lives-tracker {
        padding-right: 20px;
        margin-top: -46px;
        height: 30px;
        position: absolute;
        right: 0;
    }

    #play-again {
        margin-left: -620px;
    }

    .background-image1 {
        background-image: url(/assets/images/larger-background.jpeg);
        height: 300px;
        max-width: 100%;
        position: reltive;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .rules-header {
        font-size: 50px;
    }

    .rules-text {
        font-size: 22px;
    }
}

@media only screen and (min-width: 991px) {
    #play-again {
        margin-left: 0px;
    }

    .background-image1 {
        height: 300px;
    }
}

@media only screen and (min-width: 1109px) {
    .lives-tracker {
        padding-right: 20px;
        margin-top: -50px;
        height: 30px;
        position: absolute;
        right: 0;
    }

    .background-image1 {
        background-image: url(/assets/images/larger-background.jpeg);
        height: 300px;
        max-width: 100%;
        position: reltive;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
    }

    #question-answer {
        height: 400px;
    }
}